/* Reseteamos márgenes y paddings por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

section {
    margin: 20px 0;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 40px;
    color: #777;
}

