.personaje{
    display: flex;
    flex-direction: column;
    justify-content: left;
width: 30;}

    /*personajes{
    display: flex;
    align-items: start;
} */
img{
    display: flex;
    height: 200px;
    position: relative;
    left: 50%;
    margin: 30%;
    z-index: -1;
}
p{
    border: solid;
    border-radius: 10% 30%;
    padding: 30px;
    margin: 15px;

}

